name: build-v8-linux
on: [push]
jobs:
  build-v8:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go environment
        uses: actions/setup-go@v4.0.0
      - name: Checkout
        uses: actions/checkout@v3.5.0
      - name: Cache
        uses: actions/cache@v2.1.8
        with:
          # A list of files, directories, and wildcard patterns to cache and restore
          path: |
            "~/depot_tools"
            "~/v8"
          # An explicit key for restoring and saving the cache
          key: linux
      - name: install depot_tools
        run: |
          git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git
          echo "$(realpath depot_tools)" >> $GITHUB_PATH
      - name: install depot_tools
        run: |
          go generate -x
